{% extends "base.html" %}

{% block content %}
     <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Welcome to the Stocks universe</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Application Stocks allows quick and easy access to information about your favorite stocks, including prices, dividends, and more.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          {% if request.user.is_authenticated %}
              <a href='{% url 'add_stock' %}'><button type="button" class="btn btn-success btn-lg px-4 me-sm-3">Stock List</button></a>
              <a class="nav-link" href="{% url "stock_list" %} "><button type="button" class="btn btn-outline-secondary btn-lg px-4">Add Stock</button></a>
          {% else %}
              <a href="{% url 'register' %}"> <button type="button" class="btn btn-success btn-lg px-4 me-sm-3">Registration</button></a>
              <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Login</button></a>
          {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
